@model IEnumerable<RoomManage.Models.Category>
@{
    ViewBag.Title = "Home Page";
}
@Html.ActionLink("english", "changeLanguage", new { languageAbberation = "en" }, new { @class = "btn btn-info" })
@Html.ActionLink("arbic", "changeLanguage", new { languageAbberation = "ar" }, new { @class = "btn btn-info" })
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@foreach (var item in Model)
{
      <!--Start  Price Section-->
    <section class="price-table text-center text-danger" id="price">
        <div class="container">
            <h3>@Html.DisplayFor(modelItem => item.CategoryTitle)</h3>
            <div class="row">
                @foreach (var subitem in item.barrenness)
                {
                    if (subitem.Number != 0)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="price-box wow bounceInUp" data-wow-duration="5s" data-wow-offset="500">
                                <h4 class="text-primary"> @Html.DisplayFor(modelItem => subitem.barrenessDescription)</h4>
                                <p>@Html.DisplayFor(modelItem => subitem.leasePrice)</p>
                                <ul class="list-unstyled">
                                    <li>@RoomManage.Resources.BarrennessController.BarrennesState: @Html.DisplayFor(modelItem => subitem.state)</li>
                                    <li>@RoomManage.Resources.BarrennessController.BarrennesfullLocation: @Html.DisplayFor(modelItem => subitem.fullLocation)</li>
                                    <li>@RoomManage.Resources.BarrennessController.publisher_id: @Html.DisplayFor(modelItem => subitem.User.UserName)</li>
                                    <li>@RoomManage.Resources.AccountController.PhoneNumber: @Html.DisplayFor(modelItem => subitem.User.PhoneNumber)</li>
                                </ul>
                                @Html.ActionLink(RoomManage.Resources.actointext.Details, "Details", new { barrennesId = subitem.Id }, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
     <!--End  Price Section-->
}
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>