@model RoomManage.Models.Category

@{
    ViewBag.Title = RoomManage.Resources.CategoryController.CategoryInfo;
}

<h2>@RoomManage.Resources.CategoryController.BarrennesCategory</h2>

<div>
    <h4>@RoomManage.Resources.CategoryController.CategoryInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(RoomManage.Resources.CategoryController.CategoryTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryTitle)
        </dd>

        <dt>
            @Html.DisplayName(RoomManage.Resources.CategoryController.CategoryDescrption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CstegoryDescrption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(RoomManage.Resources.actointext.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink(RoomManage.Resources.actointext.GoToList, "Index", null, new { @class = "btn btn-info" })
</p>
