@model RoomManage.Models.Barrenness

@{
    ViewBag.Title = RoomManage.Resources.BarrennessController.EditBarrennesInfo;
}

<h2>@RoomManage.Resources.BarrennessController.EditBarrennesInfo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label(RoomManage.Resources.BarrennessController.barrenessDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.barrenessDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.barrenessDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(RoomManage.Resources.CategoryController.CategoryTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(RoomManage.Resources.BarrennessController.leasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.leasePrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.leasePrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(RoomManage.Resources.BarrennessController.paymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PaymentMethod", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.paymentMethod, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(RoomManage.Resources.BarrennessController.BarrennesNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(RoomManage.Resources.BarrennessController.BarrennesState, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("State", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(RoomManage.Resources.BarrennessController.BarrennesfullLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fullLocation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fullLocation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(RoomManage.Resources.BarrennessController.BarrennesStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.status)
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@RoomManage.Resources.actointext.Save" class="btn btn-success" />
                </div>
            </div>
        </div>

}

<div>
    @Html.ActionLink(RoomManage.Resources.actointext.GoToList, "Index", null, new { @class = "btn btn-info" })
</div>
